@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: #000;
}


nav {
    background: #000;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.search-bar {
    width: 36%;
    height: 60%;
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    transition: .3s;
}

.search-button:hover {
    transform: scale(.96);
    opacity: .8;
}

.search-button img {
    max-width: 24px;
}

.cart-icon {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.cart-icon:hover {
    background: #242424;
}

.cart-icon button {
    background: none;
    color: #fff;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.cart-icon img {
    max-width: 32px;
}

@media screen and (max-width: 800px) {
    .nav-logo {
        display: none;
    }
    .search-bar {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 0 20px;
    }
    .search-bar {
        width: 100%;
        margin-right: 12px;
    }
    .cart-icon {
        width: 40px;
        height: 40px;
    }
    .cart-icon button {
        justify-content: center;
    }
    .cart-icon button p {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .search-bar input::placeholder {
        opacity: 0;
    }
}


.banner {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    position: relative;
}

.banner-picture {
    width: 100%;
    opacity: 0;
}

.banner-page > source, .banner-picture > img {
    width: 100%;
}

.banner-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion-img source, .promotion-img img{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.promotion-img.on source, .promotion-img.on img {
    opacity: 1;
}

.banner-page {
    display: flex;
    position: absolute;
    bottom: -40px;
}

.banner-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.banner-input {
    opacity: 0;
    pointer-events: none;
}

.banner-input:checked + .banner-label {
    background: #fff;
}

.input-banner-wrap {
    position: relative;
    width: 30px;
    height: 8px;
    margin: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.banner-buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider-button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: .3s;
}

.slider-button:hover {
    transform: scale(.9) translateY(-50%);
}

.slider-button img {
    width: 100%;
}

.slider-button.left {
    left: 60px;
}

.slider-button.right {
    right: 60px;
}

.slider-button.right img {
    transform: rotate(180deg);
}

@media screen and (max-width: 600px) {
    .slider-button {
        top: unset;
        bottom: -54px;
    }
}



.products {
    background: #000;
    min-height: 300px;
    margin: 60px 0;
}

.products-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.product {
    color: #fff;
    margin: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 400px;
    cursor: pointer;
    animation: .6s fadeIn;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

.product:hover {
    transform: scale(1.02);
}

.product:hover .image-btn {
    left: -4px;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 4px;
    transition: .3s;
    position: relative;
}

.image-shadow {
    background: #008000;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    filter: blur(50px);
}

.image-wrap img {
    max-width: 140px;
    max-height: 140px;
    z-index: 2;
}

.image-btn {
    background: #ff5b5b;
    color: #fff;
    width: 100px;
    height: 42px;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: -100px;
    top: 140px;
    transition: .3s;
    cursor: pointer;
    z-index: 3;
}

.image-btn:hover {
    filter: brightness(80%);
}

.product h2, h3 {
    font-weight: 400;
    margin: 8px;
}

.product-line {
    background: #00800090;
    width: 100%;
    height: 1px;
    margin: 12px;
}

.product p {
    color: #8cff8cb4;
    font-size: 14px;
    font-weight: 300;
    margin: 16px;
}

.product:hover .product-btn {
    opacity: 1;
}

.page-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrap {
    position: relative;
    width: 30px;
    height: 8px;
    margin: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}


.page-input {
    pointer-events: none;
    opacity: 0;
}

.page-input:checked + .page-label {
    background-color: #fff;
}

.page-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.product-page-wrap {
    background: #000000ce;
    position: fixed;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: none;
}

.product-page-wrap.on {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-page-conteiner {
    background: #fff;
    position: relative;
    width: 400px;
    height: 540px;
    padding: 32px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
}

.product-page-conteiner img {
    max-width: 200px;
    max-height: 200px;
}

.product-page-close {
    background: none;
    border: none;
    position: absolute;
    top: 6px;
    right: 8px;
    width: 40px;
    height: 40px;
    font-size: 50px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.product-page-close:hover {
    transform: scale(.9);
    opacity: .8;
}

.add-cart-btn {
    background: #ff5b5b;
    color: #fff;
    font-size: 22px;
    width: 80%;
    height: 70px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: .3s;
}

.add-cart-btn:hover {
    filter: brightness(80%);
}

.product-page-conteiner h3 {
    font-size: 26px;
    font-weight: 600;
}

.product-page-conteiner h2 {
    font-size: 28px;
    font-weight: 400;
}

.quant-select {
    display: flex;
    margin-top: 12px;
    margin-bottom: 40px;
    border: 1px solid #242424;
}

.quant-select p {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
}

.quant-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.quant-btn:hover {
    filter: brightness(80%);
}

@media screen and (max-width: 800px) {
    .products-wrap {
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .products-wrap::-webkit-scrollbar {
        opacity: 0;
    }
    .products-conteiner {
        flex-direction: row;
        flex-wrap: nowrap;
        width: calc(800%);
    }
    .product {
        width: 100vw;
        margin: 0;
        padding: 0 80px;
    }
    .image-btn {
        display: none;
    }
    .input-wrap {
        width: 12px;
        height: 12px;
    }
    .page-label {
        border-radius: 50%;
    }
}



.cart {
    background: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .5s;
}

.cart.on {
    transform: translateY(0);
}

.cart-close {
    background: none;
    border: none;
    position: absolute;
    top: 18px;
    right: 18px;
    width: 30px;
    height: 30px;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.cart-close:hover {
    transform: scale(.9);
    opacity: .8;
}

.cart h1 {
    font-size: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart h1 img {
    max-width: 34px;
    filter: brightness(0%);
    margin-right: 12px;
}