@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background: #000;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.search-bar {
    width: 36%;
    height: 60%;
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
}

.search-button {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    transition: .3s;
}

.search-button:hover {
    transform: scale(.96);
    opacity: .8;
}

.search-button img {
    max-width: 24px;
}

.cart-icon {
    width: 140px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.cart-icon:hover {
    background: #242424;
}

.cart-icon a {
    color: #fff;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.cart-icon img {
    max-width: 32px;
}

@media screen and (max-width: 800px) {
    .nav-logo {
        display: none;
    }
    .search-bar {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .search-bar {
        width: 80%;
    }
    .cart-icon {
        width: 40px;
        height: 40px;
    }
    .cart-icon a {
        justify-content: center;
    }
    .cart-icon a p {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    nav {
        padding: 0 20px;
    }
    .search-bar input::placeholder {
        opacity: 0;
    }
}



.products {
    background: #121212;
    min-height: 300px;
    padding: 80px 0;
}

.products-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.product {
    color: #fff;
    margin: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 360px;
    cursor: pointer;
    animation: .6s fadeIn;
}

.product:hover .image-btn {
    left: -4px;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    transition: .3s;
}

.image-wrap img {
    max-width: 180px;
    max-height: 180px;
}

.product:hover .image-wrap {
    filter: brightness(60%);
}

.image-btn {
    background: #ff5b5b;
    color: #fff;
    width: 100px;
    height: 42px;
    border: none;
    border-radius: 4px;
    position: absolute;
    left: -100px;
    top: 140px;
    transition: .3s;
    cursor: pointer;
}

.image-btn:hover {
    filter: brightness(80%);
}

.product h2, h3 {
    font-weight: 400;
    margin: 8px;
}

.product-line {
    background: #00800090;
    width: 100%;
    height: 1px;
}

.product-btn {
    background: #00800090;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    width: 80%;
    height: 42px;
    margin: 20px;
    border: none;
    border-radius: 50px;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
}

.product:hover .product-btn {
    opacity: 1;
}

.page-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrap {
    position: relative;
    width: 30px;
    height: 8px;
    margin: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}


.page-input {
    pointer-events: none;
    opacity: 0;
}

.page-input:checked + .page-label {
    background-color: #fff;
}

.page-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
